POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retail_warehouse
POSTGRES_USER=retail_user
POSTGRES_PASSWORD=retail_password

AIRFLOW_UID=50000

DATA_DIR=./data/raw
GENERATED_DATA_DIR=./data/generated

DBT_PROFILES_DIR=./dbt/retail_warehouse
DBT_PROJECT_DIR=./dbt/retail_warehouse
